<div class="wrapper">
  <div class="header">
    <p class="animate" [ngClass]="{ up: !isLogin() }">Login</p>
    <p class="animate" [ngClass]="{ up: !isLogin() }">Register</p>
  </div>

  <div class="buttons" [ngClass]="{ 'is-register': !isLogin() }">
    <button
      [ngClass]="{ pointer: !isLogin(), white: isLogin() }"
      (click)="isLogin.set(true)"
    >
      Login
    </button>
    <button
      [ngClass]="{ pointer: isLogin(), white: !isLogin() }"
      (click)="isLogin.set(false)"
    >
      Register
    </button>
  </div>

  <form class="animate" [ngClass]="{ 'hide-inputs': isLogin() }">
    <input type="email" placeholder="Email:" />

    @if(!isLogin()) {
    <input type="text" placeholder="First Name:" />

    <input type="text" placeholder="Last Name:" />

    <input type="text" placeholder="Phone Number:" />

    <input type="text" />
    }
  </form>

  <i
    class="animate fa-xl pointer"
    [ngClass]="
      isLogin()
        ? 'fa-solid fa-right-to-bracket'
        : 'fa-solid fa-user-plus rotate-180'
    "
  ></i>
</div>
