<div class="wrapper">
  <div class="header">
    <p class="animate" [ngClass]="{ up: !isLogin() }">Login</p>
    <p class="animate" [ngClass]="{ up: !isLogin() }">Register</p>
  </div>

  <div class="buttons" [ngClass]="{ 'is-register': !isLogin() }">
    <button
      [ngClass]="{ pointer: !isLogin(), white: isLogin() }"
      (click)="isLogin.set(true)"
    >
      Login
    </button>
    <button
      [ngClass]="{ pointer: isLogin(), white: !isLogin() }"
      (click)="isLogin.set(false)"
    >
      Register
    </button>
  </div>

  <form
    [formGroup]="userForm"
    class="animate"
    [ngClass]="{ 'hide-inputs': isLogin() }"
  >
    <input formControlName="email" type="email" placeholder="Email:" />
    @for (item of errorMessages; track $index) { @if(email.hasError(item.type)
    && email.touched) {
    <app-msg-view color="red" [msg]="item.msg" />
    } } @if(!isLogin()) {
    <input formControlName="firstName" type="text" placeholder="First Name:" />
    @if(firstName.hasError('required') && firstName.touched) {
    <app-msg-view color="red" [msg]="errorMessages[0].msg" />
    }

    <input formControlName="lastName" type="text" placeholder="Last Name:" />
    @if(lastName.hasError('required') && lastName.touched) {
    <app-msg-view color="red" [msg]="errorMessages[0].msg" />
    }

    <input
      formControlName="phoneNumber"
      type="number"
      placeholder="Phone Number:"
    />

    <input id="profile-picture" type="file" (change)="upload($event)" hidden />
    <label for="profile-picture">
      Upload Profile Picture <i class="fa-solid fa-upload"></i>
    </label>
    } @if(imgUrl()) {
    <div class="profile-image">
      <img [src]="imgUrl()" alt="" />
      <i (click)="delete()" class="fa-solid fa-trash-can"></i>
    </div>
    }
  </form>

  <i
    class="animate fa-xl pointer"
    [ngClass]="
      isLogin()
        ? 'fa-solid fa-right-to-bracket'
        : 'fa-solid fa-user-plus rotate-180'
    "
    (click)="isLogin() ? login() : register()"
  ></i>
</div>
