.wrapper {
  width: 400px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
    color: #0059b3;
    height: 60px;
    overflow: hidden;

    .up {
      transform: translate(0, -63px);
    }
  }

  form {
    width: 70%;
    height: 250px;
    overflow: auto;
    scrollbar-width: none;
    margin: 20px 0;

    input {
      width: 100%;
      height: 30px;
      margin-bottom: 20px;
      border: 1px solid gray;
      border-bottom-width: 2px;
      border-radius: 5px;
    }
  }

  .hide-inputs {
    height: 40px;
    overflow: hidden;
  }

  .rotate-180 {
    transform: rotateY(180deg);
  }
}
