.wrapper {
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;

  .header {
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
    color: #0059b3;
    height: 60px;
    overflow: hidden;

    p {
      transition: all 0.3s linear;
    }

    .up {
      transform: translate(0, -63px);
    }
  }
}
