/* You can add global styles to this file, and also import other style files */
@use "assets/scss/reset.css";

body {
  height: 100vh;
  background: linear-gradient(90deg, #003366, #004080, #0059b3, #0073e6);
}

input {
  height: 30px;
  border: 1px solid gray;
  border-bottom-width: 2px;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

i::before {
  width: 50px;
  height: 50px;
}

.animate {
  transition: all 0.3s linear;
}

.pointer {
  cursor: pointer;
}

.white {
  color: white;
}

.not-allowed {
  cursor: not-allowed;
}
